<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigshark.mapper.AClassMapper">
    <resultMap id="BaseResultMap" type="com.bigshark.bean.AClass">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="info" property="info" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="sql">
        id,title,info,createTime,updateTime
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="sql"/>
        from blog_class
    </select>

<select id="getById" resultMap="BaseResultMap">
    SELECT
    <include refid="sql"/>
    FROM  blog_class
    WHERE id=#{id}
</select>

    <select id="total" resultType="java.lang.Long">
        select
        COUNT (1)
        from blog_class
    </select>

    <insert id="create"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_class
        (title,info,createTime) VALUES (#{title},#{info},now())
    </insert>

    <update id="upDate">
        UPDATE
        title = #{title},
        info = #{info},
        updateTiem = now()
        FROM blog_class
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE  FROM blog_class WHERE  id = #{id}
    </delete>

</mapper>